@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Viaoda+Libre&display=swap");

:root {
  /*  FONTS  */
  --heading: "Viaoda Libre", cursive;
  --regularFont: "Oxygen", sans-serif;
  /*  FONT COLOR  */
  --coolGray: #0a0708;
  --gray: #746c70;
  /*  BACKGROUND COLOR  */
  --ivory: #e2ded0;
  /*  COLOR  */
  --blueGray: #647c90;
}
/* Default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--ivory);
}
body {
  font-family: var(--regularFont);
  line-height: 1.6;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
/* Header/Nav Section */
.header {
  padding: 1.5rem 3rem; /* You can adjust navbar height by change 1st value */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-img {
  /*setting height and width to keep image same size when screen goes smaller*/
  max-width: 20rem;
  height: 100%;
  margin-left: -1rem; /* moves img left a little*/
}

#nav-bar ul {
  display: flex;
  padding: 1.5rem 3rem;
}
#nav-bar li {
  margin-right: 4rem;
}
#nav-bar li a {
  color: var(--coolGray);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#nav-bar li:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
#nav-bar li a:hover {
  color: #c44b4f;
}
/* SUBSCRIBE SECTION */
.subscribe {
  text-align: center;
  margin: 1rem auto;
}
.subscribe input {
  display: block;
  padding: 18.5px 14px;
  margin: 1rem auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.subscribe #email {
  width: 250px;
  border: none;
  border-radius: 3px;
  font-family: var(--regularFont);
  letter-spacing: 1px;
}
.subscribe #email:focus {
  outline: 2px solid var(--blueGray);
}
.subscribe #submit {
  background-color: var(--blueGray);
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  display: block;
  width: 150px;
  padding: 12px 0;
  cursor: pointer;
}
#submit:hover {
  color: white;
  background-color: #c44b4f;
  transform: scale(1.1);
  transition: 0.3s ease;
}
/* FEATURE SECTION */
/* this allows it to be centered on all screen sizes */
#feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-wrapper {
  display: flex;
  /*   justify-content: center; */
  margin-top: 2rem;
  margin-left: auto;
  margin-right: 10%;
  width: 60%; /* added width so that each feature section is the same width to be able to align them in the center and look the same */
}
/* got to align icon in center and 20px away from the text */
.featured-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 85px; /*created a box size container for the icon*/
  height: 85px;
}
.featured-icon i {
  font-size: 55px;
  color: #970c10;
  /*   width: 55px;
  height: 55px; */
}
/* VIDEO SECTION */
#video {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
/* PRICING SECTION */
#pricing {
  margin-bottom: 30px;
}
.pricing-wrapper {
  display: flex;
  justify-content: center;
}
.pricing-box {
  width: 320px;
  height: 320px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  margin-right: 20px;
}
.pricing-box h4 {
  padding: 15px 0;
  border-bottom: 1px solid black;
  background-color: var(--gray);
}
.pricing,
.price {
  font-weight: bold;
  font-size: 1.5rem;
}
.pricing-box p {
  margin: 0.5rem 0;
}
.pricing,
.btn {
  display: block;
  background-color: #f8ea8c;
  border-radius: 3px;
  text-decoration: none;
  color: inherit;
  width: 100px;
  padding: 7px 0;
  margin: 1.5rem auto 0 auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.pricing,
.btn:hover {
  background-color: #e1c340;
  transition: 0.3s ease;
}
/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}
.footer-nav {
  background-color: #e4e4e6;
  width: 30%;
  padding: 20px 0;
}
.footer-nav ul {
  display: flex;
  justify-content: flex-end;
}
.footer-nav li a {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
}
.footer-copyright {
  display: flex;
  justify-content: flex-end;
}
.footer-copyright p {
  color: var(--gray);
  font-size: 14px;
  margin: 5px 20px;
}

/* MEDIA QUERY */
@media screen and (max-width: 775px) {
  .header {
    flex-direction: column;
  }
  #header-img {
    margin-left: -3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #nav-bar ul {
    font-size: 16px;
  }
  #nav-bar li {
    margin-right: 25px;
  }
  /*  PRICING SECTION  */
  .pricing-wrapper {
    flex-wrap: wrap;
  }
  .pricing-box {
    margin-bottom: 30px;
  }
}
